header
    .header-column
        a(href="#") NEA Architects & Design
    nav.header-column
        ul 
            li 
                a(href="#") Projects
            li 
                a(href="#") Practice
            li 
                a(href="#") News
            li 
                a(href="#") Exhibition
            li 
                a(href="#") Contact